.booking-and-payment-form {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Make the form fill the entire viewport height */
  padding: 20px;
  
}

.booking-form, .payment-method {
  width: 150%;
  margin: 10px;
  padding: 10px;

 
  
  margin-left: 100px;
}

h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.form-group {
  margin: 10px 0;
}

input[type="text"], input[type="number"], input[type="date"], input[type="time"], textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.time__picker {
  /* Add specific styling for time input if needed */
}

.payment-options {
  display: flex;
  flex-direction: column;
}

.payment-options label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  margin: 10px 0;
}

.payment-options img {
  max-width: 100px;
  max-height: 50px;
}

.qr-code {
  text-align: center;
  margin: 20px 0;
}

.reserve-button {
  text-align: center;
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.form-error {
  color: red;
  font-size: 1rem;
  text-align: center;
  margin: 10px 0;
}
